* {
  outline: none;
}

body {
  background-color: #fff;
  font-family: "FiraSans";
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans"),
    url(../utils/fonts/product-sans.ttf) format("truetype");
}

@font-face {
  font-family: "FiraSans-bold";
  src: local("FiraSans"),
    url(../utils/fonts/product-sans-bold.ttf) format("truetype");
}

.register__layout {
  display: flex;
  flex-direction: column;
  height: 100%;
    flex-grow: 1;
}

.layout__image {
  height: 100vh;
  min-width: 50vw;
  background-image: url("../utils/images/ustah.jpeg");
  background-position: center;
  background-size: cover;
  &.change {
    background-image: url("../utils/images/register-img.jpeg");
    background-size: 65%;
    background-repeat: no-repeat;
  }
}

.layout__form {
  width: 100%;
  padding-left: calc(65px + 4vw);
  padding-right: calc(85px + 4vw);
  position: relative;
  max-width: 750px;
  margin: 0 auto;
      display: flex;
    flex-direction: column;
    align-self: baseline;
    height: 100vh;
}
.register__tabs {
  margin-bottom: 60px;
  margin-top: 25px;
  a {
    outline: none;
    cursor: pointer;
    &:first-child {
      button {
        margin-right: 40px;
      }
    }
  }
  a button {
    cursor: pointer;
    font-size: 56px;
    color: #a8b7af;
    font-family: "FiraSans-bold";
    outline: none;
  }
  .active {
    button {
      color: rgb(31, 71, 50);
    }
  }
}

.register__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  input {
    font-family: "FiraSans";
    border-radius: 21px;
    height: initial;
    border: solid 1.4px #828282;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 12px 10px;
    box-shadow: none;
    outline: none;
    &:focus {
      box-shadow: none;
      height: initial;
      border: solid 1.4px #828282;
      background-color: #fff;
    }
    &::placeholder {
      font-family: "FiraSans";
      color: #909090;
    }
  }
}

.button__style {
  border-radius: 19px;
  margin-top: 10px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
  background-color: #1f4732;
  width: 234px;
  padding: 17px;
  color: #fff;
}

.margin-initial {
  margin: initial;
}

.layout {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  // flex-direction: column;
}

.register__button {
  display: flex;
  align-items: initial !important;
  flex-direction: column;
  position:initial!important;
  transform: initial!important;
  margin-bottom: 15px;  
  text-align: left !important;
  p {
    font-size: 16px;
    color: #aaaaaa;
  }
  a {
    font-size: 16px;
    color: #2565b0;
  }
}

.shadow-text {
  text-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  font-size: 89px;
  font-weight: bold;
  line-height: 2.26;
  color: #ffffff;

  position: absolute;
  z-index: -1;
  left: 0;
  width: 100vw;
  top: 95px;
}

.register__form--flex {
  display: flex;
  justify-content: space-between;
  input {
    width: 48%;
  }
}

.register__form--error {
  font-size: 17px;
  color: #e51b1b;
  text-align: center;
}

.mobile__welcome {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .register__tabs {
    button {
      font-size: calc(25px + 1vw) !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .layout__image {
    display: none;
  }
  .layout {
    height: initial;
  }
  .shadow-text {
    font-size: calc(63px + 1vw);
    width: 200vw;
    top: 35px;
  }

  .layout__form {
    padding: 0 15px;
  }

  .button__style {
    width: 210px;
    padding: 17px;
    color: #fff;
    &.not-filled {
      background-color: #cdcdcd;
    }
  }

  .mobile__welcome {
    text-align: center;
    display: block;
    margin-bottom: 35px;
    h5 {
      font-size: 24px;
      font-family: "FiraSans-bold";
      color: #1f4732;
      margin-bottom: 5px;
    }
    p {
      font-size: 17px;
      color: #1f4732;
    }
  }

  .register__form {
    padding: 0 30px;
    padding-bottom: 30px;
    input {
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #828282;
      padding: 0 0 10px 0;
      &:focus,
      &:active {
        background-color: transparent;
        border: none;
        border-bottom: 1.4px solid #828282;
      }
    }
  }
  .register__button {
    text-align: center !important;
    align-items: center !important;
    width: 100%;
    padding: 0px 15px;
    p,
    a {
      margin-bottom: 0;
      font-size: 13px !important;
    }
    button {
      font-size: 16px;
    }
  }
  .register__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .register__form--flex {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
  .npm {
    padding-right: 0px !important;
  }
}


.overflow-hidden {
  overflow-x: hidden;
}

 .pop-up {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 123123123123;
      .pop-up__card {
        background-color: #f2f2f2;
        padding-top: 15px;
        border-radius: 13px;
        width: 270px;
        h5 {
          text-align: center;
          font-size: 17px;
          font-weight: bold;
          color: #000000;
        }
        p {
          text-align: center;
          font-size: 13px;
          color: #000000;
        }
      }
      .pop-up__buttons {
        font-size: 17px;
        color: #007aff;
        display: flex;
        a {
          text-align: center;
          width: 50%;
          padding: 10px;
          border-top: 1px solid #d6d6d6;
          color: #007aff;
          &:first-child {
            border-right: 1px solid #d6d6d6;
          }
        }
      }
    }


    .animation {
     
      .gradient  {
          position: relative;
          transform: translatex(-500px);
          height: 0px!important;
          line-height: 0px!important;
          margin: 0!important;
          padding: 0!important;
          opacity: 0;
          }
        }
    .home__card {
      transition: 0.4s ease all!important;
    }

    .home__cards {
      transition: 1s ease all;
    }

.input__group .input {
  border-radius: 21px !important;
}

.button__style.not-filled {
  background-color: #cdcdcd; }

.dashboard-cards {  
  .offers-content {
    min-height: initial !important;
    position: initial !important;
    padding: initial !important;
  }
  h4 {
    display: initial !important;
    text-align: center !important;
    position: initial !important;
    transform: initial !important;
  }

  
  .example-thumb.example-thumb-0 {
	z-index: 1000000!important;
background-color: black!important;
border-radius: 50%!important;
}
.example-track.example-track-2 {
	height: 20px;
  	background: aliceblue;
}
.example-track.example-track-0 {
	height: 20px;
    background: antiquewhite;
}
.dashboard-offers {
  
    .offers-image {
    div {
      z-index: 11;
    }
    &:after {
        content: '';

        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
  }
  }
}

.home__card--mask.active::after {
    content: '';
    width: 9px;
    height: 9px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}

@media only screen and (max-width: 1285px) {
  .register__tabs {
    button {
      font-size: calc(25px + 1vw) !important;
    }
  }
}

.video {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden; }
  @media screen and (max-width: 39.9375em) {
    .video {
      margin-top: 35px; } }

.hollow {
  background-color: transparent;
  color: #5b5b5b;
  border-color: #afafaf;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.example-thumb.example-thumb-0 {
  z-index: 1000000 !important;
    background-color: white !important;
    border-radius: 50% !important;
    border: 2px solid #1f4732;
    color: white;
    font-size: 1px;
    height: 26px;
    width: 26px;
      display: flex;
    align-items: center;
    justify-content: center;
}

.example-track.example-track-0 {
    background: #d2d2d2;
    height: 2px;
    top: 12px;
}

.example-track.example-track-1 {
    position: absolute;
    left: 154.725px;
    right: 149.296px;
    height: 2px;
    background: #1f4732;
    top: 12px;
}

.example-thumb.example-thumb-1  {
  z-index: 1000000 !important;
    background-color: white !important;
    border-radius: 50% !important;
    border: 2px solid #1f4732;
  color: white;
  font-size: 1px;
  height: 26px;
  width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-track.example-track-2 {
    background: #d2d2d2;
    height: 2px;
    top: 12px;
}

.blog-card__article { 
  h2 {
    color: #1f4732;
    font-weight: bold;
    font-size: 22px;
  }
  h1 {
    font-size: 37px;
  }
}

.br-m {
  br {
    display: initial !important;
  }
}

@media screen and (max-width: 39.9375em) {
  .mb-mobile-button--group {
    margin-bottom: 60px !important; } }

.react-datepicker__input-container input {
  width: 75%
}